@import ../utils/functions
@import ../utils/placeholders
// Medium query
$breakpoints: ('desk-qhd': 2560px, 'desk-hd': 1920px, 'desk-lg': 1600px, 'desk-ml': 1440px, 'desk-md': 1366px, 'desk-sm': 1200px, 'tab-lg': 992px, 'tab-sm': 768px, 'mob-lg': 640px, 'mob-md': 480px, 'mob-sm': 360px)

// Fonts style
// ==========================================================================
$font-norm: "Nimbus Sans Novus", Helvetica, Arial, sans-serif
//$font-norm: Arial, sans-serif
$font-bold: "Nimbus Sans Novus Bold", Helvetica, Arial, sans-serif
//$font-bold: Arial, sans-serif

=font-normal()
  font-family: $font-norm

=font-bold()
  font-family: $font-bold

=font-italic()
  font-style: italic

=font-bold-italic()
  font-family: $font-bold
  font-style: italic

// Base
// ==========================================================================

$font-size: 2.2rem !default
$line-height: round-float(2.2rem / $font-size, 1) !default

// Heading h1
$font-size-h1: 4.8rem !default
$line-height-h1: round-float(6rem / $font-size-h1, 1) !default
// ----------------------------------------------------
=font-h1()
  font-size: $font-size-h1
  line-height: $line-height-h1

// Heading h2
$font-size-h2: 2.5rem !default
$line-height-h2: round-float(2.9rem / $font-size-h2, 1) !default
// ----------------------------------------------------
=font-h2()
  font-size: $font-size-h2
  line-height: $line-height-h2

// Heading h3
$font-size-h3: 2.2rem !default
$line-height-h3: round-float(2.5rem / $font-size-h3, 1) !default
// ----------------------------------------------------
=font-h3()
  font-size: $font-size-h3
  line-height: $line-height-h3

// Spaces
$bottom-space: round-float($font-size * $line-height, 1) !default


// Colors
// ==========================================================================

// Color of brands
$base-color: #f28020 !default
$base-color-alt: lightskyblue !default
// ----------------------------------------------------
$bg-color: #f28020 !default
$bg-color-light: #f5924d !default
$bg-color-alt: #d8d8d8 !default
$shadow-color: #c94f08 !default
// ----------------------------------------------------
$text-color: #fff !default
$text-color-alt: #000 !default
$text-color-light: gray !default
$title-color: #fff !default
// ----------------------------------------------------
$link-color: #fff !default
// ----------------------------------------------------
$border-color: lightgray !default
// ----------------------------------------------------
$mark-color: tomato !default
// ----------------------------------------------------
$text-shadow: 0 0 5px rgba($bg-color, 0.5) !default
$text-shadow-hover: 0 0 5px rgba($bg-color, 0.8) !default
$shadow: drop-shadow(1px 1px 2px rgba(white, 0.6)) !default


// Layout
// ==========================================================================

$layout-page-min-width: 32rem !default
$layout-page-max-width: 256rem !default
$layout-page-space: 2rem !default

$layout-content-max-width: 34rem !default

$layout-text-max-width: 76.8rem !default

$layout-flood-max-width: 76.8rem !default


// Header
// ==========================================================================
$header-height: 6.3rem !default


// Animation
// ==========================================================================
$animation-speed: 0.2s !default
$animation-speed-mouseleave: 0.35s !default
