@import ../utils/variables
@import ../utils/mixins
@import node_modules/include-media/dist/include-media

/* nav
.nav
  display: flex
  align-items: center
  justify-content: space-between
  height: 6.3rem

  a
    color: currentColor
    text-decoration: none

  &__arr
    display: inline-block
    width: 3.4rem
    height: 3.8rem
    font-size: 2.7rem
    line-height: 3.7rem
    text-align: center
    border-top: 0.1rem solid currentColor
    color: white
    user-select: none
    -webkit-tap-highlight-color: transparent
    cursor: pointer
    // transition
    $prop: opacity, filter
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    .no-touchevents &:hover
      filter: drop-shadow(1px 1px 2px rgba(white, 0.6))

    .no-touchevents &:active
      opacity: 0.8

    &_bottom
      &::before
        transform: rotate(-0.25turn)

    &_top
      &::before
        transform: rotate(0.25turn)

  .nav__page
    +font-bold
    font-size: 2.5rem
    line-height: 3.6rem
    text-transform: uppercase
    cursor: default
    // transition
    $prop: opacity, filter
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  a.nav__page
    cursor: pointer

  .nav__page_large
    font-size: 3.2rem

  .no-touchevents & a.nav__page:hover
    filter: drop-shadow(1px 1px 2px rgba(white, 0.6))

  .no-touchevents & a.nav__page:active
    opacity: 0.8

  .nav__info
    font-weight: normal
    display: inline-block
    width: 3.8rem
    height: 3.8rem
    //background: url(../../img/info@2x.png) no-repeat
    background-size: 100%
    font-size: 2.7rem
    line-height: 3.6rem
    text-align: center
    border: 0.1rem solid currentColor
    border-radius: 3.8rem
    user-select: none
    -webkit-tap-highlight-color: transparent
    // transition
    $prop: opacity, filter
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    .no-touchevents &:hover
      filter: drop-shadow(1px 1px 2px rgba(white, 0.6))

    .no-touchevents &:active
      opacity: 0.8

/* nav end

/* main section
.main-section
  &__content
    position: relative

  &__entry
    text-align: center

/* main section end

/* entry
.entry
  $entry: &

  display: inline-block
  vertical-align: top
  text-decoration: none
  color: inherit
  background: $bg-color no-repeat center

  &__figure
    width: 17.4rem
    margin: 0 auto 1.6rem
    background: url(../../img/qr.svg) no-repeat center
    background-size: contain
    transition: opacity $animation-speed, filter $animation-speed

    @at-root
      a#{$entry}:hover &
        filter: $shadow

      a#{$entry}:active &
        opacity: 0.8

    &::before
      content: ""
      display: block
      @include ratio(1, 1)

  &__title
    width: 12.8rem
    margin: 0 auto 1.4rem
    font-size: 0
    line-height: 0
    background: url(../../img/logo.svg) no-repeat center
    background-size: contain
    transition: opacity $animation-speed, filter $animation-speed

    @at-root
      a#{$entry}:hover &
        filter: $shadow

      a#{$entry}:active &
        opacity: 0.8

    &::before
      content: ""
      display: block
      @include ratio(128, 36)

  &__year
    width: 8.2rem
    margin: 0 auto
    font-size: 0
    line-height: 0
    background: url(../../img/2020.svg) no-repeat center
    background-size: contain
    transition: opacity $animation-speed, filter $animation-speed

    @at-root
      a#{$entry}:hover &
        filter: $shadow

      a#{$entry}:active &
        opacity: 0.8

    &::before
      content: ""
      display: block
      @include ratio(82.2, 27.2)

/*entry end

/*sign
.sign
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.sign__pre
  display: block
  margin-bottom: 0.7rem

  &:last-child
    margin-bottom: 0

.sign__name
  margin-bottom: 0.5em
  display: block
  font-size: 1.3em
  letter-spacing: 0.1em
  text-transform: uppercase
  font-weight: 500

  &:last-child
    margin-bottom: 0

/*sign end

/*section
.section
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  flex-grow: 1
  //flex-shrink: 1
  //height: 1px
  //flex-basis: 160px
  min-height: 230px
  padding: 2rem #{$layout-page-space}
  background-color: $bg-color
  background-repeat: no-repeat
  background-position: center
  background-size: cover

a.section
  text-decoration: none
  color: currentColor

.section__bg
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-position: center
  background-repeat: repeat-x
  background-size: 360px

.section_alt
  background-color: $bg-color-alt

  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(black, 0.09)
    // transition
    $prop: background-color
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

a.section_alt
  .no-touchevents &:hover
    &::before
      background-color: rgba(white, 0.15)

.section_light
  background-color: white

  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba($bg-color, 0.86)
    // transition
    $prop: background-color
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

a.section_light
  .no-touchevents &:hover
    &::before
      background-color: rgba($bg-color, 0.65)

.section__date
  position: relative
  margin-bottom: 0.2em
  +font-normal
  font-size: 1.8rem
  line-height: round-float(2.4 / 1.8, 1)
  text-transform: uppercase
  text-shadow: $text-shadow

  &:last-child
    margin-bottom: 0

.section__title
  position: relative
  width: 100%
  // Fixed for ie
  margin-bottom: 0.2em
  +font-bold
  font-size: 2.8rem
  line-height: round-float(3.3 / 2.8, 1)
  text-transform: uppercase
  text-align: center
  text-shadow: $text-shadow

  &:last-child
    margin-bottom: 0

  +media('<mob-sm')
    font-size: 2.0rem

.section__title_alt
  margin-bottom: 0.5em
  font-size: 2.9rem
  letter-spacing: 0.07em

.section__note
  position: relative
  //position: absolute
  //left: 0
  //top: 0
  align-self: start
  +font-normal
  margin-bottom: 1.5rem
  font-size: 1.2rem
  line-height: round-float(1.44 / 1.2, 1)
  text-transform: uppercase
  letter-spacing: normal
  width: 165px
  max-width: 100%

.section__meta
  position: relative
  text-align: center

// section footer
.section_footer
  flex-grow: 0
  justify-content: flex-start
  padding-top: 1.5rem
  min-height: 210px

// section title
.section_title
  padding-bottom: 3.9rem

// active
a.section
  .section__date, .section__title, .section__meta, .section__note
    // transition
    $prop: opacity, text-shadow
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  .no-touchevents a:hover
    .section__title, .section__date
      text-shadow: $text-shadow-hover

  .no-touchevents &:active
    .section__date, .section__title, .section__meta, .section__note
      opacity: 0.8

/*section end

/*section content
.section-content
  position: relative
  flex-grow: 1
  font-size: 1.6rem
  line-height: 1.9rem
  color: $text-color-alt
  padding: 2rem #{$layout-page-space} 3.6rem
  background-color: #fff

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6
    color: $base-color

  img
    margin-bottom: $bottom-space

    &:last-child
      margin-bottom: 0

  p, ul, ol, table
    margin-bottom: 1.9rem

    &:last-child
      margin-bottom: 0

  .sign
    margin-bottom: 3.2rem

    &:last-child
      margin-bottom: 0

  .sign__pre
    margin-bottom: 0.4rem

    &:last-child
      margin-bottom: 0

  .sign__name
    font-size: 1.1em
    letter-spacing: 0.1em

/*section content end

/*footer buttons
.buttons-wrap
  text-align: center
  min-height: 10rem
  padding-top: 20px
  padding-bottom: 20px

/*footer buttons end